<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Perl 6 Books</title>
</head>

<body>
    <section class="intro">
        <h1>Perl 6 Books</h1>
        <p>You can find a list of Perl 6 books here, as well as guidance
            on which one to read.</p>
        
        <p>The following flow chart should help you to decide which book to
            approach first. Click on it to see it in full size.</p>

        <a href="img/p6-book-flowchart.png">
            <img class="flowchart" src="img/tn-p6-book-flowchart.png" width="665" height="557">
        </a>

    </section>

    <section class="p6-books">
        <h1>The Books</h1>
        %= @_.join("\n")
    </section>
 
    <footer>
        <p>The source for this website can be found <a href="https://github.com/moritz/perl6book-web">on GithUb in the repo moritz/perl6book-web</a>. Please report issues there.</p>
        <p>Copyright 2017 Moritz Lenz  and the contributors to the above repository.</p>
    </footer>   </section>
</body>
</html>

