<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="css/layout.css" rel="stylesheet" type="text/css">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <title>Perl 6 Books</title>
</head>

<body>
    <section class="intro p6-box">
        <h1>Perl 6 Books</h1>
        <p>You can find a list of Perl 6 books here, as well as guidance
            on which one to read.</p>
        
        <p>The following flow chart should help you to decide which general-purpose
           book to approach first. It omits specialized books like those
           on <a href="#p6-bailador">web apps</a> and <a href="#p6-regex">parsing</a>.
           Click on the image to see it in full size.</p>

        <a href="img/p6-book-flowchart.png">
            <img class="flowchart" src="img/tn-p6-book-flowchart.png" width="665" height="557">
        </a>

        <h2>Keep Informed</h2>

        <p>If you want to keep up to date on Perl 6 books, sign up for the mailing list below. It's low volume (typically less than one email per month).<p>
        <!-- Begin MailChimp Signup Form -->
        <style type="text/css">
            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
            /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
               We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
        <form action="//perlgeek.us12.list-manage.com/subscribe/post?u=ea4954d15b6283987b9d1b161&amp;id=207c668582" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
            <h2>Subscribe to the Perl 6 Book mailing list</h2>
        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
        <div class="mc-field-group">
            <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
        </label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
        <div class="mc-field-group">
            <label for="mce-FNAME">First Name  <span class="asterisk">*</span>
        </label>
            <input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
        </div>
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ea4954d15b6283987b9d1b161_207c668582" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        <!--End mc_embed_signup-->

        <p>You can also <a href="https://twitter.com/perl6org">follow perl6org on twitter</a>.</p>
    </section>

    <section class="p6-books">
        <div class="p6-books-container">
            %= @_.join("\n")
        </div>
    </section>
 
    <footer>
        <p>The source for this website can be found <a href="https://github.com/moritz/perl6book-web">on GitHub in the repo moritz/perl6book-web</a>. Please report issues there.</p>
        <p>Copyright 2017 Moritz Lenz  and the contributors to the above repository.</p>
    </footer>
</body>
</html>

